<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Session-9, Assignment-1</h1>
        <form #f="ngForm" novalidate autocomplete="off" (ngSubmit)="addPerson(f.value)">
          <div class="form-group" style="text-align:left">
            <label for="honorific">Honorific</label>
            <!-- Input field for honorific(Mr/Ms) imparting two-way data flow using ngModel -->
            <select class="text-box" id="honorific" name="honorific" [(ngModel)]="personModel.honorific" class="form-control" #hnrfc>
              <!-- Mr/Ms options are populated using dropdown service -->
              <option [value]="personModel.honorific" [disabled]="true">Select Honorific</option>
              <option *ngFor="let m of mrms" [ngValue]="m.honorific">
                <!-- Display "Mr." and "Ms." using string interpolation -->
                {{m.honorific}}
              </option>
            </select>
          </div>
          <div class="form-group" style="text-align:left">
            <label for="firstName">First Name</label>
            <!-- Input field for first name imparting two-way data flow using ngModel -->
            <input type="text" [(ngModel)]="personModel.firstName" id="firstName" name="firstName" class="form-control" placeholder="First Name"
              #fname>
          </div>
          <div class="form-group" style="text-align:left">
            <label for="lastName">Last Name</label>
            <!-- Input field for last name imparting two-way data flow using ngModel -->
            <input type="text" [(ngModel)]="personModel.lastName" id="lastName" name="lastName" class="form-control" placeholder="Last Name"
              #lname>
          </div>
          <div class="form-group" style="text-align:left">
            <label for="age">Age</label>
            <!-- Input field for age imparting two-way data flow using ngModel -->
            <input type="number" [(ngModel)]="personModel.age" id="age" name="age" class="form-control" placeholder="Age" #age>
          </div>
          <!-- Button that calls service functions and ultimately shows data input in table -->
          <input type="submit" id="btn-submit" class="btn btn-primary btn-block" value="Add to Table">
        </form>
      </div>
    </div>
  </div>
</div>

<hr/>
<!-- Conditional display of table based on length of input array -->
<div *ngIf="personArr.length > 0">
  <!-- Display table that is part of child component -->
  <app-person [personDetail]="personArr"></app-person>
</div>
